{% extends 'base.html' %}

{% block title %}File Storage{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome, {{ current_user.login }}!</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    {{ message }}

    {% endfor %}
    {% endif %}
    {% endwith %}

    <h2>Upload File</h2>
    <form method="POST" action="/upload" enctype="multipart/form-data" class="upload-form">  
    <input type="file" name="file" required>  <input type="submit" value="Download" class="btn-upload">
    </form>

    <h2>Your Files</h2>
    <ul>
        {% for filename in filenames %}
        <li>
            {{ filename }}
            <a href="{{ url_for('uploaded_file', filename=filename) }}" class="btn btn-primary btn-sm" target="_blank">Download</a>

            <button class="btn btn-secondary btn-sm copy-link-button"
                    data-link="{{ url_for('uploaded_file', filename=filename, _external=True) }}">
                Copy Link
            </button>
            <form action="{{ url_for('delete_file', filename=filename) }}" method="post" style="display: inline;">
            </form>
           
        </li>
        {% endfor %}
    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const copyLinkButtons = document.querySelectorAll('.copy-link-button');

        copyLinkButtons.forEach(button => {
            button.addEventListener('click', function () {
                const link = this.dataset.link;
                navigator.clipboard.writeText(link)
                    .then(() => {
                        alert('Ссылка скопирована в буфер обмена');
                    })
                    .catch(err => {
                        console.error('Failed to copy link: ', err);
                        alert('Failed to copy link. Please try again.');
                    });
            });
        });
    });
</script>
{% endblock %}