<!DOCTYPE html>
<html>
<head>
    <title>Viewing: {{ object_path }}</title>
</head>
<body>
    {% if object_path.lower().endswith(('.pdf', '.jpg', '.jpeg', '.png', '.gif')) %}
      {% if object_path.lower().endswith('.pdf') %}
        <embed src="{{ object_url }}" type="application/pdf" width="1500px" height="1200px">
      {% elif object_path.lower().endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
        <h1>Viewing: {{ object_path }}</h1>
        <img src="{{ object_url }}" alt="{{ object_path }}" style="max-width: 1500px; max-height: 1200px;">
      {% endif %}
    {% else %}
    <h1>Viewing: {{ object_path }}</h1>
    <a href="{{ object_url }}" target="_blank">Download {{ object_path }}</a>
    {% endif %}
</body>
</html>